{% extends 'base.html' %}
{% load static %}


{% block css %}
    <style>
        /* Add padding to containers */
.container {
    padding: 16px;
    text-align: center;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 40%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 2px solid black;
    background: white;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: white;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit/register button */
  .registerbtn {
    background-color: none;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 40%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity:1;
  }
  
  .logwarning{
    color: red;
  }
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }
    </style>
{% endblock css %}
    

{% block body %}
<form method="POST">
    {% csrf_token %}
    <div class="container">
      <h1>Change Password</h1>
      <hr>
      
      {% if messages %}
          <ul>
             {% for i in messages  %}
                  <li class="logwarning">{{ i }}</li>
             {% endfor %}
          </ul>
      {% endif %}
  
      <label for="password"><b>Old Password</b></label>
      <input type="password" placeholder="Old Password" name="password" id="password" required>

      <label for="password"><b>New Password</b></label>
      <input type="password" placeholder="New Password" name="password1" id="password1" required>

      <label for="password"><b>Re New Password</b></label>
      <input type="password" placeholder="Re New Password" name="password2" id="password2" required>
  
      <hr>
      <button type="submit" class="registerbtn">Change Password</button>
    </div>
  
   
  </form>
    
{% endblock body %}
    